<div>
  <h2 id="page-heading" data-cy="FeedbackInvoiceHeading">
    <span>Feedback Invoices</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-feedback-invoice"
        [routerLink]="['/feedback-invoice/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Feedback Invoice </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="feedbackInvoices?.length === 0">
    <span>No Feedback Invoices found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="feedbackInvoices && feedbackInvoices.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="invoiceNumber">
            <div class="d-flex">
              <span>Invoice Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="deliveryFeedback.contactEmail">
            <div class="d-flex">
              <span>Delivery Feedback</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let feedbackInvoice of feedbackInvoices; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/feedback-invoice', feedbackInvoice.id, 'view']">{{ feedbackInvoice.id }}</a>
          </td>
          <td>{{ feedbackInvoice.invoiceNumber }}</td>
          <td>
            <div *ngIf="feedbackInvoice.deliveryFeedback">
              <a [routerLink]="['/delivery-feedback', feedbackInvoice.deliveryFeedback.id, 'view']">{{
                feedbackInvoice.deliveryFeedback.contactEmail
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/feedback-invoice', feedbackInvoice.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/feedback-invoice', feedbackInvoice.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(feedbackInvoice)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="feedbackInvoices && feedbackInvoices.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
