<div>
  <h2 id="page-heading" data-cy="FeedbackResponseHeading">
    <span>Feedback Responses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-feedback-response"
        [routerLink]="['/feedback-response/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Feedback Response </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="feedbackResponses?.length === 0">
    <span>No Feedback Responses found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="feedbackResponses && feedbackResponses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="minRating">
            <div class="d-flex">
              <span>Min Rating</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="maxRating">
            <div class="d-flex">
              <span>Max Rating</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rating">
            <div class="d-flex">
              <span>Rating</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tags">
            <div class="d-flex">
              <span>Tags</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="prompt">
            <div class="d-flex">
              <span>Prompt</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="campaign">
            <div class="d-flex">
              <span>Campaign</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="comment">
            <div class="d-flex">
              <span>Comment</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="customerNumber">
            <div class="d-flex">
              <span>Customer Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="salesOrganization">
            <div class="d-flex">
              <span>Sales Organization</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="distributionChannel">
            <div class="d-flex">
              <span>Distribution Channel</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="division">
            <div class="d-flex">
              <span>Division</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let feedbackResponse of feedbackResponses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/feedback-response', feedbackResponse.id, 'view']">{{ feedbackResponse.id }}</a>
          </td>
          <td>{{ feedbackResponse.minRating }}</td>
          <td>{{ feedbackResponse.maxRating }}</td>
          <td>{{ feedbackResponse.rating }}</td>
          <td>{{ feedbackResponse.tags }}</td>
          <td>{{ feedbackResponse.prompt }}</td>
          <td>{{ feedbackResponse.campaign }}</td>
          <td>{{ feedbackResponse.comment }}</td>
          <td>{{ feedbackResponse.customerNumber }}</td>
          <td>{{ feedbackResponse.salesOrganization }}</td>
          <td>{{ feedbackResponse.distributionChannel }}</td>
          <td>{{ feedbackResponse.division }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/feedback-response', feedbackResponse.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/feedback-response', feedbackResponse.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(feedbackResponse)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="feedbackResponses && feedbackResponses.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
